<h1><%= @instructor.name %></h1>

<ul>
  <%= @instructor.email %>
  <%= @instructor.bio %>
</ul>

<%= link_to 'Voltar', instructors_path %>
<%= link_to 'Editar', edit_instructor_path(@instructor) %>

