<% if @instructor.profile_picture.attached? %>
  <%= image_tag @instructor.profile_picture %>
<% end %>


<h1><%= @instructor.name %></h1>

<ul>
  <p><%= @instructor.email %></p>
  <p><%= @instructor.bio %></p>
</ul>

<%= link_to 'Voltar', instructors_path %>
<%= link_to 'Editar', edit_instructor_path(@instructor) %>
<%= link_to 'Apagar', instructor_path(@instructor), method: :delete, data: { confirm: 'Tem certeza?' } %>
