
 <div class="jumbotron">
  <h1 class="display-3">CodePlay</h1>
  <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">

  <% if admin_signed_in? %>
    <%= link_to t('home.courses'), admin_courses_path, class: 'btn btn-outline-dark btn-lg' %>
    <%= link_to t('home.instructors'), admin_instructors_path, class: 'btn btn-outline-dark btn-lg' %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to t('home.courses'), user_courses_path, class: 'btn btn-outline-dark btn-lg' %>
    <%= link_to 'Meus Cursos', my_enrolls_user_courses_path, class: 'btn btn-outline-dark btn-lg' %>
  <% end %>

</div>

<h3>Cursos Disponíveis</h3>

<% @courses.available.each do |course| %>
  <%= link_to course.name, course_path(course) %>
  <p><%= course.description %></p>
  <p><%= number_to_currency course.price %></p>
<% end %> 
