<h1><%= "#{@course.model_name.human} #{@course.name}" %></h1>
<% if @course.lessons.empty? %>
  <%= t('messages.no_lesson') %>
<% end%>

<% @course.lessons.each_with_index do |lesson, index| %>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <dd class="card-header"><%= "#{lesson.model_name.human} #{index + 1}" %></dd>
    <div class="card-body text-dark">
      <dt><%= lesson.class.human_attribute_name(:name) %></dt>
      <dd><%= lesson.name %></dd>
      <dt><%= lesson.class.human_attribute_name(:content) %></dt>
      <dd><%= lesson.content %></dd>
      <dt><%= lesson.class.human_attribute_name(:duration) %></dt>
      <dd><%= t('lesson.duration', count: lesson.duration) %></dd>
    
      <%= link_to t('links.edit'), edit_admin_course_lesson_path(@course, lesson) %>
      <%= link_to t('links.delete'), [:admin, @course, lesson], method: :delete, data: { confirm: t('messages.confirm_delete') } %>
    </div>
  </div>
<% end %>

<%= link_to t('links.back'), user_course_path(@course)%>
<%= link_to t('links.register_new_lesson'), new_user_course_lesson_path %>


