<h1><%= @course.name %></h1>
<% if @course.lessons.empty? %>
  <%= t('messages.no_lesson') %>
<% end%>

<% @course.lessons.each do |lesson| %>
  <div>
    <p><%= lesson.name %></p>
    <p><%= lesson.content %></p>
    <p><%= t('lesson.duration', count: lesson.duration) %></p>
    <p><%= link_to t('links.edit'), edit_course_lesson_path(@course, lesson) %></p>
    <p><%= link_to t('links.delete'), [@course, lesson], method: :delete, data: { confirm: t('messages.confirm_delete') } %></p>
  </div>
<% end %>

<%= link_to t('links.back'), course_path(@course)%>
<%= link_to t('links.register_new_lesson'), new_course_lesson_path %>