<% course.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with model: course do |form| %>
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name %></p>

    <p><%= form.label :description %></p>
    <p><%= form.text_area :description %></p>

    <p><%= form.label :code %></p>
    <p><%= form.text_field :code %></p>

    <p><%= form.label :price %>
    <p><%= form.number_field :price %></p>

    <p><%= form.label :enrollment_deadline %></p>
    <p><%= form.date_field :enrollment_deadline %></p>

    <p><%= form.submit course.persisted? ? t('links.course.update') : t('links.course.create') %></p>

<% end%> 