<% if @courses.empty? %>
  <%= t('message.no_course_available') %>
<% end%>

<% @courses.each do |course| %>
  <div>
    <p><%= link_to course.name, course %></p>
    <p><%= course.description %></p>
    <p><%= number_to_currency course.price %></p>
    <p><%= course.instructor.name %></p>
  </div>
<% end %>
  
<%= link_to t('links.back'), root_path %>
<%= link_to t('links.course.register'), new_course_path %>