<h1><%= @course.name %></h1>

<dl>
  <dt><%= @course.class.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt><%= @course.class.human_attribute_name(:code) %></dt>
  <dd><%= @course.code %></dd>
  <dt><%= @course.class.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><%= @course.class.human_attribute_name(:enrollment_deadline) %></dt>
  <dd><%= l(@course.enrollment_deadline) %></dd>
  <dt><%= @course.class.human_attribute_name(:instructor_id) %></dt>
  <dd><%= @course.instructor.name %></dd>
</dl>

<% if user_signed_in? %>
  <%= link_to 'Comprar', enroll_course_path(@course), method: :post %>
<% else %>
  <%= 'Faça login para comprar este curso' %>
<% end %>

<%= link_to t('links.show_lessons'), course_lessons_path(@course) %>
<%= link_to t('links.back'), courses_path %>
<%= link_to t('links.edit'), edit_course_path(@course) %>
<%= link_to t('links.delete'), @course, method: :delete, data: { confirm: t('messages.confirm_delete') } %>
