<% if @courses.empty? %>
  <%= t('messages.no_course') %>
<% end%>

<% @courses.each do |course| %>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= link_to course.name, admin_course_path(course) %></div>
    <div class="card-body text-dark">
      <dt><%= course.class.human_attribute_name(:description) %></dt>
      <dd><%= course.description %></dd>
      <dt><%= course.class.human_attribute_name(:price) %></dt>
      <dd><%= number_to_currency course.price %></dd>
    </div>
  </div>
<% end %>
  
<%= link_to t('links.back'), root_path %>
<%= link_to t('links.course_create'), new_admin_course_path %>