<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>

  <body>

    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to t('links.home'), root_path %>
          <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/2000px-Flag_of_Brazil.svg.png", size:"25x20") %> <a href=" <%= request.path %>?locale=pt-BR">Português Brasil</a>
          <%= image_tag("https://bandeira.net/wp-content/uploads/2018/09/bandeira-dos-eua-estados-unidos-da-america.png", size:"25x20") %> <a href=" <%= request.path %>?locale=en">English</a>
        </li>
      </ul><br>

      <% flash.each do |name, message| %>
        <%= content_tag :div, message, class: "alert alert-primary", role: 'alert' %>
      <% end %>

      <%= yield %>
    </div>

  </body>

</html>
