<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>

  <body>

  <div class="container-fluid">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/2000px-Flag_of_Brazil.svg.png", size:"25x20") %> <a href=" <%= request.path %>?locale=pt-BR">Português Brasil</a>
        <%= image_tag("https://bandeira.net/wp-content/uploads/2018/09/bandeira-dos-eua-estados-unidos-da-america.png", size:"25x20") %> <a href=" <%= request.path %>?locale=en">English</a>
      </li>
    </ul>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'CodePlay', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= current_user.email %>
            </li>

            <li class="nav-item">
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li> 

            <li class="nav-item">
              <%= link_to 'Meus Cursos', my_enrolls_user_courses_path, class: 'nav-link' %>
            </li>
          </ul>


        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav><br>

      <% flash.each do |name, message| %>
        <%= content_tag :div, message, class: "alert alert-primary", role: 'alert' %>
      <% end %>
      <h1>USER LAYOUT</h1>
      <%= yield %>
    </div>

  </body>

</html>
